.red{
    background-color: red;
    width :150px;
    height :100%;
}
.grey
{
    background-color: red;
    width:150px;
    height:200px;
    margin-left: 90%;
    margin-top: -48%;
    height:100%;
}